body
{
	/* Transition for night mode */
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.github-corner svg {
	transition: all .2s ease-in;
	transition-property: color, fill;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

.section-header {
	font-weight: bold;
}

.pure-g div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
}

.links-header
{
	max-width: 560px;
}

.links-header .header-image
{
	width: 25%;
	max-width: 70px;
}

.links-body
{
	max-width: 560px;
}

.links-body .pure-g
{
	justify-content: center;
	margin: auto;
	max-width: 50%;
}

.links-body .pure-g.text-grid
{
	max-width: 100%;
}

.links-body .pure-g.narrow-grid
{
	width: 40%;
	margin: auto;
}

.links-body .pure-g.small-grid
{
	font-size: 70%;
}


.pure-g .pure-button
{
	display: block;
	width: 100%;
	padding: 0.6em 0em;
}

.button-xlarge
{
	font-size: 110%;
}

.button-xsmall
{
	font-size: 80%;
}

.outer
{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle
{
	display: table-cell;
	vertical-align: middle;
}

.inner
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.inner.inner-top-padded
{
	padding-bottom: 0px;
}

.inner.inner-bottom-padded
{
	padding-top: 0px;
}

.inner.inner-unpadded
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.inner-markdown {
	width: 50%;
}

.inner-markdown *
{
	max-width: 100%;
}

.link-button {
	border-radius: 3px;
}

.button-green,
.button-red,
.button-orange,
.button-blue,
.button-lightblue,
.button-darkblue {
	color: white;
}

.button-green {
	background: rgb(28, 184, 65);
}

.button-red {
	background: rgb(202, 60, 60);
}

.button-orange {
	background: rgb(223, 117, 20);
}

.button-darkblue {
	background: rgb(37, 88, 133);
}

.button-blue {
	background: rgb(50, 118, 177);
}

.button-lightblue {
	background: rgb(66, 184, 221);
}

.filler
{
	height: 10px;
	display: inline-block;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes slideIn { from { transform: translateY(5px); } to { transform: translateY(0); } }

.fade-in
{
	opacity:0;
	animation: fadeIn ease-in 1, slideIn ease-out 1;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}

.links-header,
.links-body,
.links-footer
{
	text-align: center;
}

.links-footer p {
	font-size: 60%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	font-weight: 300;
}

a
{
	text-decoration: none;
	outline:none;
}

@media screen and (max-width: 35.5rem)
{
	.links-header .header-image {
		width: 50px;
	}
	.links-header .header-title
	{
		font-size: 1.3em;
	}
	.links-body .button-xlarge
	{
		font-size: 100%;
	}
	.links-body .pure-g
	{
		max-width: 80vw;
	}
	.links-body .pure-g.narrow-grid
	{
		width: 100%;
	}
	.inner-markdown {
		width: 80vw;
	}
}
