body.night-mode {
	background: #222;
}

body.night-mode .github-corner svg {
	color: #222 !important;
	fill: #fff !important;
}

body.night-mode div.inner {
	color: white;
}

body.night-mode p a {
	color: #0af;
}

body.night-mode .button-green {
	background: rgb(28, 144, 65);
}

body.night-mode .button-red {
	background: rgb(162, 60, 60);
}

body.night-mode .button-orange {
	background: rgb(183, 117, 20);
}

body.night-mode .button-darkblue {
	background: rgb(44, 62, 100);
}

body.night-mode .button-blue {
	background: rgb(50, 98, 127);
}

body.night-mode .button-lightblue {
	background: rgb(66, 144, 181);
}
