---
layout: default
title: Faculties
---

<div class="inner links-body fade-in fade-two">
  <a class="pure-button button-xlarge button-red" href="../"> &larr; back</a>
  <div class="pure-g">
    <div class="pure-u-1-1 filler"></div>
    {% for section in site.data.faculties %}
    <div class="pure-u-1-1 pure-u-md-1-{{ forloop.length }}">
      <div class="pure-u-1-1">{{ section.name }}</div>
      {% for faculty in section.links %}
      <div class="pure-u-1-1"><a class="pure-button button-xlarge button-{{ section.colour }}" href="{{ faculty.url }}" target="_blank">{{ faculty.name }}</a></div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
