---
layout: default
---

<div class="inner inner-bottom-padded links-body fade-in fade-two">
  {% for type in site.data.linktypes %}
  <div class="pure-g{% if type.class %} {{ type.class }}{% endif %}">
    {% for link in site.data.links[type.name] %}
    {% if link.text %}
    <div class="pure-u-1-1 pure-u-md-{{ link.size }}">{{ link.text }}</div>
    {% elsif link %}
    <div class="pure-u-1-1 pure-u-md-{{ link.size }}{% if link.divclasses %} {{ link.divclasses }}{% endif %}"><a class="pure-button button-xlarge button-{{ link.colour }}" href="{{ link.url }}">{{ link.name }}</a></div>
    {% else %}
    <div class="pure-u-1-1 gridfix filler"></div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
