<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <link rel="shortcut icon" href="/images/icon-128.png">
  <link rel="apple-touch-icon-precomposed" href="/images/icon-128.png">
  <link rel="stylesheet" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/grids-responsive-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/links_site.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/nightmode.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
