<script>
if (window.location.host.indexOf('github.io') > -1 && window.location.protocol != "https:"){
    window.location.protocol = "https";
}
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74291620-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74291620-1');
</script>

<script src="/js/js.cookie-2.1.4.min.js"></script>
<script>

function toggleNightModeIfNight() {
	var currentTime = new Date().getHours();

	if (currentTime >= 19 || currentTime <= 6) {
		setNightMode(true);
	}
}

toggleNightModeIfNight();

var nightModeCookie = Cookies.get("night-mode-enabled");
if (nightModeCookie) {
	setNightMode(nightModeCookie === "true" ? true : false);
}

function toggleNightMode() {
	if (document.body.className === "night-mode") {
		setNightMode(false);
		Cookies.set('night-mode-enabled', false);
	} else {
		setNightMode(true);
		Cookies.set('night-mode-enabled', true);
	}
}

function setNightMode(enable) {
	if (enable === true) {
		document.body.className = "night-mode";
	} else {
		document.body.className = "";
	}
}
</script>
