{% assign filler = '<div class="pure-u-1 filler"></div>' %}
{% for section in page.sections %}
<div class="pure-g{% if section.type and site.data.sectiontypes[section.type].class %} {{ site.data.sectiontypes[section.type].class }}{% endif %}">
  {% for link in section.body %}

  {% assign unitWidth = link.width | default: '1' %}
  {% assign elementSizeClass = 'pure-u-' | append: unitWidth %}

  {% if link.title %}
  <div class="{{ elementSizeClass }} section-header">{{ link.title }}</div>
  {{ filler }}
  {% elsif link.text %}
  <div class="{{ elementSizeClass }}">{{ link.text }}</div>
  {% elsif link %}
  <div class="{{ elementSizeClass }}{% if link.divclasses %} {{ link.divclasses }}{% endif %}"><a class="pure-button link-button button-{{ link.colour || default: 'blue' }}" href="{{ link.url }}">{{ link.name }}</a></div>
  {% else %}
  {{ filler }}
  {% endif %}
  {% endfor %}
  {% if forloop.last != true %}
  {{ filler }}
  {% endif %}
</div>
{% endfor %}
