{% for section in page.sections %}
<div class="pure-g{% if section.type and site.data.sectiontypes[section.type].class %} {{ site.data.sectiontypes[section.type].class }}{% endif %}">
  {% for link in section.body %}
  {% if link.title %}
  <div class="pure-u-1-1 pure-u-md-{{ link.size | default: '1-1' }} section-header">{{ link.title }}</div>
  <div class="pure-u-1-1 filler"></div>
  {% elsif link.text %}
  <div class="pure-u-1-1 pure-u-md-{{ link.size | default: '1-1' }}">{{ link.text }}</div>
  {% elsif link %}
  <div class="pure-u-1-1 pure-u-md-{{ link.size | default: '1-1' }}{% if link.divclasses %} {{ link.divclasses }}{% endif %}"><a class="pure-button link-button button-{{ link.colour || default: 'blue' }}" href="{{ link.url }}">{{ link.name }}</a></div>
  {% else %}
  <div class="pure-u-1-1 filler"></div>
  {% endif %}
  {% endfor %}
  {% if forloop.last != true %}
  <div class="pure-u-1-1 filler"></div>
  {% endif %}
</div>
{% endfor %}
