---
layout: default
title: Resources
---

<div class="inner links-body fade-in fade-two">
    <a class="pure-button button-xlarge button-red" href="/"> &larr; back</a>
    <div class="pure-u-1-1 gridfix filler"></div>
  {% for type in site.data.resources.linktypes %}
  <div class="pure-g{% if type.class %} {{ type.class }}{% endif %}">
    {% for link in site.data.resources[type.name] %}
    {% if link.text %}
    <div class="pure-u-1-1 pure-u-md-1-1">{{ link.text }}</div>
    {% elsif link %}
    <div class="pure-u-1-1 pure-u-md-{{ link.size }}{% if link.divclasses %} {{ link.divclasses }}{% endif %}"><a class="pure-button button-xlarge button-{{ link.colour }}" href="{{ link.url }}">{{ link.name }}</a></div>
    {% else %}
    <div class="pure-u-1-1 gridfix filler"></div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
