---
layout: default
title: Student Leader Emails
---
<div class="inner emails-body fade-in fade-two">
    <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
    <h1>Student Leader Emails</h1>
    <div class="small">
        <table style="max-width: 350px; margin: 0 auto;">
            <col width="175">
            <col width="175">
            <tbody>
                {% assign groups = site.data.studentcontacts%}
                {% for group in groups %}
                <tr>
                    <th colspan="3">
                        {{group.name}}
                    </th>
                </tr>
                {% for member in group.members %}
                <tr>
                    <td><i>{{ member.position }}</i></td>
                    <td>{% if member.email %}<a href="mailto:{{ member.email }}">{% endif %}{{ member.name }}{% if member.email %}</a>{% endif %}</td>
                </tr>
                {% endfor %}
                <tr><td>&nbsp;</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
