---
layout: default
title: Student Leader Contacts
---
<div class="inner emails-body fade-in fade-two">
  <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
  <h1>Student Leader Contacts</h1>
  <div>Text here</div>
  <br>
  <div class="small">
      <table style="width:100%">
          <tr>
              <th>Position</th>
              <th>Name</th>
              <th>Email</th>
          </tr>
          {% assign students = site.data.studentcontacts%}
          {% for student in students %}
          <tr>
              {% if student.group %}<td>{{student.group}}</td>{% endif %}
              {% if student.position %}<td>{{student.position}}</td>{% endif %}
              {% if student.name %}<td>{{student.name}}</td>{% endif %}
              {% if student.email %}<td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>{% endif %}
          </tr>
          {% endfor %}
      </table>
</div>
</div>
