---
layout: default
title: Student Leader Contacts
---
<div class="inner emails-body fade-in fade-two">
    <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
    <h1>Student Leader Contacts</h1>
    <div>Here you will find contact details for the student leaders. This page is still udner development.</div>
    <br>
    <div class="small">
        {% assign students = site.data.studentcontacts%}
        {% for student in students %}
        {% if student.group %}<b>{{student.group}}</b>
        <br>
        <table style="width:100%">
            {% endif %}
            {% if student.position %}
            <tr>
                <td>{{student.position}}</td>
                <td>{{student.name}}</td>
                <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
            </tr>
            {% endif %}
            {% if student.endgroup %}
            </table><br>
            {% endif %}
            {% endfor %}
    </div>
</div>
