---
layout: default
title: Teacher Emails
description: A list of MHS teacher's email addresses.
---
<div class="inner emails-body fade-in fade-two">
  <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
  <h1>Staff Email Addresses</h1>
  <div>This list has been deprecated as of 16/02/2017 . Staff email addresses are accessable through the <a href = "https://outlook.office.com/owa/?realm=mhs.vic.edu.au">  school email web interface </a>, by typing their names in the recipients bar and clicking search.</div>
  <br>
  <!--
  <div class="small"><span style="line-height: 1.4;">If this page is missing an email, please contact an IT Executive.</span></div>
  <br>
  
  <div class="small">
  {% assign emails = site.data.emails | sort: "name" %}
    {% for email in emails %}
    <div><a href="mailto:{{ email.name }}@edumail.vic.gov.au">{{ email.name }}<span class="email">@edumail.vic.gov.au</span></a>{% if email.notes %} ({{ email.notes | escape }}){% endif %}</div>
    {% endfor %}
  </div>
-->
</div>

