---
layout: default
title: Student Leader Emails
---
<div class="inner emails-body fade-in fade-two">
    <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
    <h1>Student Leader Emails</h1>
    <div class="small">
        <table style="max-width: 800px; margin: 0 auto;">
            <tbody>
                {% assign clubs = site.data.clubs | sort: "name" %}
                {% for club in clubs %}
                <tr>
                    <td><i>{{ club.name }}</i></td>
                    <td>{% if club.teacher %}{{ club.teacher }}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if club.studentname %}{% if club.studentemail %}<a href="mailto:{{ club.studentemail }}">{% endif %}{{ club.studentname }}{% if club.studentemail %}</a>{% endif %}{% else %}&nbsp;{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
