---
layout: default
title: Club Contacts
---
<div class="inner emails-body fade-in fade-two">
    <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
    <h1>Club Contacts</h1>
    <div class="small"><span style="line-height: 1.4;">Please <a href="mailto:mhsitexecutive@gmail.com">contact an IT Executive</a> to update club information on this page.</span></div>
    <br>
    <div class="small">
        <table class="email-table email-table-club">
            <tbody>
                {% assign clubs = site.data.clubs | sort: "name" %}
                {% for club in clubs %}
                <tr>
                    <td><i>{% if club.clublink %}<a href="{{ club.clublink }}">{% endif %}{{ club.name }}{% if club.clublink %}</a>{% endif %}</i></td>
                    <td>{% if club.teacher %}{{ club.teacher }}{% endif %}</td>
                    <td>
                        {% for student in club.students %}
                        {% if student.email %}<a href="mailto:{{ student.email }}">{% endif %}{{ student.name }}{% if student.email %}</a>{% endif %}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
