<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="outer fade-in">
      <div class="middle">
        {% include header.html %}
        <div class="inner inner-unpadded links-body">
          {% if page.content-below-links %}
            {% include links-body.html %}
            {{ content }}
          {% else %}
            {{ content }}
            {% include links-body.html %}
          {% endif %}
        </div>
        {% include footer.html %}
      </div>
    </div>

    {% include floater.html %}
    {% include js.html %}

  </body>

</html>
