---
layout: default
title: Emails
---
<div class="inner emails-body fade-in fade-two">
  <div><a class="pure-button button-xlarge button-red" href="../"> &larr; back</a></div>
  <h1>Staff Edumail Email Addresses</h1>
  <div>Please note that not all teachers check their Edumail emails. This list is supplied as a reference, and is not a replacement for not asking your teacher what their email is.</div>
  <br>
  <div class="small"><span style="line-height: 1.4;">If there is an email not on this page, please contact an IT Executive.</span></div>
  <br>
  <div class="small">
  {% assign emails = site.data.emails | sort: "name" %}
    {% for email in emails %}
    <div><a href="mailto:{{ email.name }}@edumail.vic.gov.au">{{ email.name }}<span class="email">@edumail.vic.gov.au</span></a>{% if email.notes %} ({{ email.notes | escape }}){% endif %}</div>
    {% endfor %}
  </div>
</div>
